<header class="top-navbar">
  <div class="navbar-left">
    <button class="menu-toggle">
      <i class="bi bi-list"></i>
    </button>

    <h4 class="page-title">Dashboard</h4>
  </div>

  <div class="navbar-right">
    <button class="icon-btn">
      <i class="bi bi-bell-fill"></i>
    </button>

    <div class="profile">
      <div class="profile-img">
        <i class="bi bi-person-fill"></i>
      </div>

      <div>
        <h6>Admin</h6>

        <small>Administrator</small>
      </div>
    </div>
  </div>
</header>
