@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    font-family:var(--font-family);

    background:#F4F7FC;

    color:var(--text-color);

    min-height:100vh;

    overflow-x:hidden;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

img{

    max-width:100%;

}

button{

    border:none;

    cursor:pointer;

}

input,
select,
textarea{

    outline:none;

}